<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body modal-body-fixed-height">
  <form class="form-horizontal" name="form">
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>账号：</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="请输入账号" ng-model="entity.account" name="account" autofocus required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>姓名：</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="请输入姓名" ng-model="entity.name" name="name" required  />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>工号：</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="请输入工号" ng-model="entity.workNo" name="workNo" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>手机：</label>
      <div class="col-sm-7">
        <input type="tel" class="form-control" placeholder="请输入手机" ng-model="entity.mobile" name="mobile" required  maxlength="11" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>角色：</label>
      <div class="col-sm-7">
        <select class="form-control" ng-model="entity.roleId" name="roleId" required ng-options="item.id as item.name for item in roles">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="form.$invalid || entity.processing">
  <span ng-if="!entity.processing">确定</span>
  <span ng-if="entity.processing">处理中...</span>
  </button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>