<div class="page-header">
  <h1>预约记录</h1>
</div>
<div class="filter clearfix">
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3 text-right">
      <a class="btn btn-success" ng-click="addRecord()"><i class="fa fa-plus"></i> 为客户预约</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>头像</th>
      <th>姓名</th>
      <th>手机号</th>
      <th>称呼</th>
      <th>是否车主</th>
      <th>预约项目</th>
      <th>车辆</th>
      <th>预约时间</th>
      <th>状态</th>
      <th class="text-right">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loading">
      <td class="loading-holder" colspan="40">
        <div class="text-center"><span class="loading"></span></div>
      </td>
    </tr>
    <tr ng-if="!loading &amp;&amp; totalCount === 0">
      <td colspan="40">
        <div class="text-center">抱歉，没有相关数据</div>
      </td>
    </tr>
    <tr ng-repeat="item in list">
      <td><img ng-src="{{ item.headimgurl }}" width="30" height="30" /></td>
      <td>{{ item.name }}</td>
      <td>{{ item.connectPhone }}</td>
      <td>{{ item.sex|gender }}</td>
      <td>{{ item.memberStatus|isCarOwner }}</td>
      <td>{{ item.type|reserveType }}</td>
      <td>{{ item.carType }}</td>
      <td>{{ (item.arriveTime || item.appointTime)|date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ item.status|reserveStatus }}</td>
      <td class="actions text-right">
        <span ng-if="item.status === 0">
          <a href="" ng-click="confirm(item)">确认</a>
          <a href="" ng-click="cancel(item)">取消</a>
        </span>
        <span ng-if="item.status === 1">
          <a href="" ng-click="finish(item)">完成</a>
          <a href="" ng-click="cancel(item)">取消</a>
        </span>
        <span ng-if="item.status === 2">
          <a href="" class="disabled">已完成</a>
        </span>
        <span ng-if="item.status === 3">
          <a href="" class="disabled">已取消</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <ul class="pagination-sm" pagination ng-model="pageNo" items-per-page="pageSize" total-items="totalCount" ng-change="query()"></ul>
</div>