<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body modal-body-fixed-height">
  <form class="form-horizontal" name="form">
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>国产/进口：</label>
      <div class="col-sm-7">
        <select class="form-control" ng-model="entity.importFlag" name="importFlag" required ng-options="item.id as item.name for item in carFrom">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>车型名称：</label>
      <div class="col-sm-7">
        <select class="form-control" ng-model="entity.typeId" name="roleId" required ng-options="item.id as item.carTypeName for item in list" required>
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>添加型号：</label>
      <div class="col-sm-7">
        <select class="form-control" ng-model="entity.typeId" name="roleId" required ng-options="item.id as item.carTypeName for item in list" required>
          <option value="">请选择</option>
        </select>
      </div>
    </div> -->
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>设置头图：</label>
      <div class="col-sm-7">
        <div class="upload">
          <a class="btn btn-success">+上传头图</a>
          <input type="file" class="file" ng-file-select="upload($files)" accept="image/*" />
        </div>
      </div>
      <div class="col-sm-offset-3 col-sm-7" ng-if="entity.img">
        <img ng-src="{{ entity.img }}" class="preimg" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>最低价格：</label>
      <div class="col-sm-7">
         <div class="input-group">
          <input type="number" class="form-control" placeholder="请输入最低价格 如：(15万)" ng-model="entity.priceLowest" name="priceLowest" required />
          <div class="input-group-addon">万元</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>最高价格：</label>
      <div class="col-sm-7">
        <div class="input-group">
          <input type="number" class="form-control" placeholder="请输入最高价格 (如：20万)" ng-model="entity.priceMost" name="priceMost" required />
          <div class="input-group-addon">万元</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="form.$invalid || entity.processing || !entity.img">
  <span ng-if="!entity.processing">确定</span>
  <span ng-if="entity.processing">处理中...</span>
  </button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>