<div id="login" ng-cloak cs-animate>
  <div class="content center-block">
    <form method="post" name="form" ng-submit="login()">
      <h3 class="form-title"><img ng-src="{{shost}}/vendor/images/logo.png" alt="logo" /> 永佳管理平台</h3>
      <div class="alert alert-danger" ng-if="error">
        <button type="button" class="close" ng-click="$parent.error=false" title="关闭">&times;</button>
        <span><i class="fa fa-info-circle fa-lg"></i> {{message}}</span>
      </div>

      <div class="form-group">
        <div class="input-group" ng-class="{'ng-dirty': form.name.$dirty, 'ng-valid': form.name.$valid, 'ng-invalid': form.name.$invalid}">
          <div class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </div>
          <input class="form-control" type="text" placeholder="账号" name="name" ng-model="name" cs-autofill autofocus required />
        </div>
        <p class="text-danger" ng-if="form.name.$dirty &amp;&amp; form.name.$invalid"><i class="fa fa-exclamation-circle"></i> 请输入您的账号</p>
      </div>
      <div class="form-group">
        <div class="input-group" ng-class="{'ng-dirty': form.pwd.$dirty, 'ng-valid': form.pwd.$valid, 'ng-invalid': form.pwd.$invalid}">
          <div class="input-group-addon">
            <i class="fa fa-lock"></i>
          </div>
          <input class="form-control" type="password" placeholder="密码" name="pwd" ng-model="pwd" cs-autofill required />
        </div>
        <p class="text-danger" ng-if="form.pwd.$dirty &amp;&amp; form.pwd.$invalid"><i class="fa fa-exclamation-circle"></i> 请输入您的密码</p>
      </div>
      <div class="form-group clearfix">
        <label class="pull-left">
          <input type="checkbox" name="remember" ng-model="remember" value="false" /> 保持登录
        </label>
        <!-- <a href="" class="pull-right">忘记密码？</a> -->
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success btn-block" type="submit" ng-disabled="form.$invalid || processing">
        <span ng-if="!processing">立即登录</span>
        <span ng-if="processing">正在登录</span>
        </button>
      </div>
    </form>
    <div class="copyright small text-center text-muted">
      2015 &copy; 永佳 &nbsp; 京ICP备14022431号-1
    </div>
  </div>
</div>