<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">选择客户</h4>
</div>
<div class="modal-body fixed-height">
  <div class="filter clearfix">
    <div class="row">
      <div class="col-sm-9">
        <form class="form-inline" ng-submit="query()">
          <div class="form-group mb10 mr10">
            <label class="control-label text-normal text-nowrap">姓名：</label>
            <input type="text" class="form-control" placeholder="请输入姓名" ng-model="params.name" />
          </div>
          <div class="form-group mb10 mr10">
            <label class="control-label text-normal text-nowrap">手机号：</label>
            <input type="tel" class="form-control" placeholder="请输入手机" ng-model="params.mobile" maxlength="11" ng-pattern="/^\d{11}$/" />
          </div>
          <div class="mb10 mr10">
            <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid">
            <i class="fa fa-search"></i> 搜索
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>头像</th>
        <th>微信昵称</th>
        <th>姓名</th>
        <th>手机号</th>
        <th>称呼</th>
        <th class="text-right">当前积分</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="loading">
        <td class="loading-holder" colspan="40">
          <div class="text-center"><span class="loading"></span></div>
        </td>
      </tr>
      <tr ng-if="!loading &amp;&amp; totalCount === 0">
        <td colspan="40">
          <div class="text-center">抱歉，没有相关数据</div>
        </td>
      </tr>
      <tr ng-repeat="item in list">
        <td>
          <label>
            <input type="radio" name="item" ng-click="toggle(item)" />
            <img ng-src="{{ item.headimgurl }}" width="30" height="30" style="margin-left:10px;" />
          </label>
        </td>
        <td>{{ item.nickname }}</td>
        <td>{{ item.name }}</td>      
        <td>{{ item.mobile }}</td>
        <td>{{ item.sex|gender }}</td>
        <td class="text-right">{{ item.point || 0 }}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <ul class="pagination-sm" pagination ng-model="params.pageNo" items-per-page="params.pageSize" total-items="params.totalCount" ng-change="query()"></ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="processing">{{ confirmText || '确定' }}</button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>