<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>我的积分</title>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body class="reserve bg-muted">
    <section>
      <div class="list border compact">
        <div class="item action">
          <div class="summary">
            <span class="name">预约一般维修</span>
            <span class="status text-danger">待确认</span>
            <small class="text-muted pull-right">2015/05/18 22:09:23</small>
          </div>
          <div class="details">
            <p>兰博基尼Landcruiser  4.0L</p>
            <p>希望试驾</p>
            <p>2015年5月28日 15:00</p>
          </div>
        </div>
        <div class="item">
          <div class="summary">
            <span class="name">预约一般维修</span>
            <span class="status text-danger">待确认</span>
            <small class="text-muted pull-right">2015/05/18 22:09:23</small>
          </div>
          <div class="details">
            <p>兰博基尼Landcruiser  4.0L</p>
            <p>希望试驾</p>
            <p>2015年5月28日 15:00</p>
          </div>
        </div>
        <div class="item">
          <div class="summary">
            <span class="name">预约一般维修</span>
            <span class="status text-danger">待确认</span>
            <small class="text-muted pull-right">2015/05/18 22:09:23</small>
          </div>
          <div class="details">
            <p>兰博基尼Landcruiser  4.0L</p>
            <p>希望试驾</p>
            <p>2015年5月28日 15:00</p>
          </div>
        </div>
        <div class="item">
          <div class="summary">
            <span class="name">预约一般维修</span>
            <span class="status text-success">已确认</span>
            <small class="text-muted pull-right">2015/05/18 22:09:23</small>
          </div>
          <div class="details">
            <p>兰博基尼Landcruiser  4.0L</p>
            <p>希望试驾</p>
            <p>2015年5月28日 15:00</p>
          </div>
        </div>
        <div class="item">
          <div class="summary">
            <span class="name">预约一般维修</span>
            <span class="status text-danger">待确认</span>
            <small class="text-muted pull-right">2015/05/18 22:09:23</small>
          </div>
          <div class="details">
            <p>兰博基尼Landcruiser  4.0L</p>
            <p>希望试驾</p>
            <p>2015年5月28日 15:00</p>
          </div>
        </div>
      </div>
    </section>
    <script src="js/base.js"></script>
    <script id="reserve" type="text/swig-template">
    {% for item in list %}
      <div class="item">
        <div class="summary">
          <span class="name">{{ item.type|reserveType }}</span>
          {% if item.status === 1 %}
            <span class="status text-danger">{{ item.status|reserveStatus }}</span>
          {% elif item.status === 2 %}
            <span class="status">{{ item.status|reserveStatus }}</span>
          {% elif item.status === 3 %}
            <span class="status text-success">{{ item.status|reserveStatus }}</span>
          {% elif item.status === 4 %}
            <span class="status text-muted">{{ item.status|reserveStatus }}</span>
          {% endif %}
          {% if item.arriveTime %}
            <small class="text-muted pull-right">{{ item.arriveTime|date('Y-m-d H:i') }}</small>
          {% else %}
            <small class="text-muted pull-right">{{ item.appointTime|date('Y-m-d H:i') }}</small>
          {% endif %}
        </div>
        <div class="details">
          {% if item.type === 1%}
            <p>车型：{{ item.carType }}</p>
            <p>联系电话： {{ item.connectPhone }}</p>
            <p>问题描述：{{ item.problemDesc }}</p>
          {% elif item.type === 2%}
            <p>车型：{{ item.carType }}</p>
            <p>联系电话： {{ item.connectPhone }}</p>
            <p>当前里程：{{ item.kilo }}/万公里</p>
          {% elif item.type === 3%}
            <p>车型：{{ item.carType }}</p>
            <p>联系电话： {{ item.connectPhone }}</p>
            <p>是否试驾：{{ item.isTestDrive|isTestDrive }}</p>
          {% elif item.type === 4%}
            <p>车型：{{ item.carType }}</p>
            <p>联系电话： {{ item.connectPhone }}</p>
            <p>当前里程：{{ item.kilo }}/万公里</p>
          {% elif item.type === 5%}
            <p>联系电话： {{ item.connectPhone }}</p>
            <p>预约内容：{{ item.appointContent }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </script>
    <script>
      $(function() {
        $('.item').on('click', function() {
          $(this).toggleClass('active').siblings().removeClass('active');
        });
      });
    </script>
</body>
</html>