<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="form">
    <div class="form-group">
      <label class="control-label col-sm-3 text-normal text-nowrap"><i class="text-danger">*</i>确认时间：</label>
      <div class="col-sm-7">
        <div dropdown>
          <div class="input-group" data-toggle="dropdown" dropdown-toggle>
            <input type="text" class="form-control" placeholder="请输入预约时间" value="{{ entity.arriveTime|date:'yyyy-MM-dd HH:mm:ss' }}" required readonly />
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="dropdown-menu">
            <datetimepicker ng-model="entity.arriveTime" /></datetimepicker>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="form.$invalid || entity.processing || !entity.arriveTime">
  <span ng-if="!entity.processing">确定</span>
  <span ng-if="entity.processing">处理中...</span>
  </button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>