<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body modal-body-fixed-height" style="height:300px;">
  <form class="form-horizontal" name="form">
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>预约时间：</label>
      <div class="col-sm-7">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="请输入预约时间" ng-model="entity.arriveTime" is-open="time1Opened" required datepicker-popup="yyyy-MM-dd" readonly ng-init="time1Opened=true"/>
          <a class="input-group-addon" ng-click="time1Opened=true;$event.stopPropagation();"><i class="fa fa-calendar"></i></a>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="form.$invalid || entity.processing">
  <span ng-if="!entity.processing">确定</span>
  <span ng-if="entity.processing">处理中...</span>
  </button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>