@charset "UTF-8";

/* 通用灰色背景 */
.bg-muted { background: #efeff4; }
nav.blocks { border-bottom: 1px solid #e6e6e6; text-align: center; }
nav.blocks .menu { float: left; width: 33.3333333%; height: 250px; padding-top: 50px; border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; background-color: #fff; position: relative; }
nav.blocks .menu:nth-child(3n) { border-right: none; }
nav.blocks .menu span { display: block; margin-top: 20px; }
nav.blocks .menu .icon-plus { margin-top: 52px; }
nav.blocks .menu .icon-checked { position: absolute; right: 0; bottom: 0; display: none; }
nav.blocks .menu.active .icon-checked { display: block; }
nav.blocks .menu .icon-nav-plus { margin-top: 52px; }

/* 个人主页 */
.profile .banner { position: relative; padding-top: 35px; height: 300px; background: transparent url(../images/profile/bg.jpg) 0 0 no-repeat; background-size: cover; }
.profile .banner .figure { width: 145px; height: 145px; border: 8px solid rgba(255, 255, 255, 0.5); border-radius: 50%; overflow: hidden; }
.profile .banner .figure img { display: block; height: 100%; }
.profile .banner .row { position: absolute; bottom: 0; width: 100%; height: 78px; padding: 12px 0; background-color: rgba(0, 0, 0, 0.3); color: #fff; text-align: center; }
.profile .banner .row .col:first-child { border-right: 1px solid rgba(255, 255, 255, 0.5); }
.profile .banner .row .col .icon { margin-top: -8px; }
.profile .banner { margin-bottom: 40px; }

/* 展厅 */
.showcase .box h3 { line-height: 80px; height: 80px; padding: 0 30px; }
.showcase .box .details { position: relative; background: #fff; height: 200px; overflow: hidden; padding-left: 260px; }
.showcase .box .details:not(:last-child) { margin-bottom: 20px; }
.showcase .box .figure { position: absolute; width: 260px; height: 200px; padding: 30px; overflow: hidden; left: 0; top: 0; }
.showcase .box .figure img { width: 100%; }
.showcase .box .comment { display: table; padding: 0 30px; margin-top: 30px; height: 140px; border-left: 1px solid #d9d9d9; }
.showcase .box .comment .panel { display: table-cell; vertical-align: middle; }
.showcase .box .comment p { line-height: 1rem; }
.showcase .box:last-child { margin-bottom: 30px; }

/* 积分换礼 */
.gifts .banner { height: 300px; overflow: hidden; }
.gifts .banner img { display: block; width: 100%; }
.gifts .panel { padding: 0 30px; }
.gifts .board .header { padding: 0 30px; height: 60px; line-height: 60px; overflow: hidden; }
.gifts .board .goods { float: left; width: 50%; margin-bottom: 30px; }
.gifts .board .goods:nth-child(odd) { padding-right: 15px; }
.gifts .board .goods:nth-child(even) { padding-left: 15px; }
.gifts .board .goods .wrap { border: 1px solid #dcdcdf; background-color: #fff; }
.gifts .board .goods .figure { display: block; width: 100%; height: 296px; padding: 2px; text-align: center; }
.gifts .board .goods .figure .cell { height: 100%; overflow: hidden; }
.gifts .board .goods .figure img { height: 100%; }
.gifts .board .goods .information { padding: 0 10px; line-height: 60px; }
.gifts .board .goods .information .icon-dollar { position: relative; top: -3px; }
.gifts .board .goods .information .exchange { height: 50px; line-height: 50px; font-size: 80%; border-radius: 0; }

/* 礼品详情 */
.gift img { display: block; width: 100%; }
.gift h3 { line-height: 90px; border-bottom: 1px solid #ddd; padding: 0 30px; }
.gift .details { background-color: #fff; }
.gift .details .desc { line-height: 1.4rem; padding: 30px; }
.gift .details .desc p { margin-bottom: 20px; text-indent: 1rem; }

/* 消息中心 */
.notices .item .title { width: 600px; }
.notices .action { position: absolute; right: 0; top: 0; padding: 0 30px; }

/* 签到 */
.signin .summary { background: #fff; margin: 30px; text-align: center; height: 120px; border: 1px solid #ddd; }
.signin .summary em { display: block; margin-top: 10px; }
.signin .summary .col { height: 120px; border-right: 1px solid #ddd; padding: 30px 0; }
.signin .summary .col:last-child { border-right: none; line-height: 60px; }
.signin footer .button .icon { margin-top: -8px }
.signin .details { margin: 0 30px 30px; }
.signin .details table { width: 100%; background: #fff; color: #666; }
.signin .details table th { height: 55px; text-align: center; border: 1px solid #f89432; background-color: #f89432; vertical-align: middle; color: #fff; }
.signin .details table td { height: 100px; border: 1px solid #ddd; padding: 10px; position: relative; }
.signin .details table td em { position: absolute; right: 0; bottom: 6px; width: 60px; }

/* 车管家 */
.keeper .banner { height: 300px; overflow: hidden; }
.keeper .blocks { margin: 30px 0; }
.keeper .blocks img { display: block; width: 100%; }