@charset "UTF-8";

/* 通用灰色背景 */
.bg-muted { background: #efeff4; }
nav.blocks { border-bottom: 1px solid #e6e6e6; text-align: center; }
nav.blocks .menu { float: left; width: 33.3333333%; height: 250px; padding-top: 50px; border-top: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; background-color: #fff; position: relative; }
nav.blocks .menu:nth-child(3n) { border-right: none; }
nav.blocks .menu span { display: block; margin-top: 20px; }
nav.blocks .menu .icon-plus { margin-top: 52px; }
nav.blocks .menu .icon-checked { position: absolute; right: 0; bottom: 0; display: none; }
nav.blocks .menu.active .icon-checked { display: block; }
nav.blocks .menu .icon-nav-plus { margin-top: 52px; }
.rewrite { overflow: hidden; }
.rewrite * { line-height: 1.3rem !important; margin-bottom: 15px !important; font-size: 0.9rem !important; font-style: normal !important; font-family: inherit !important; }
.rewrite img { display: block !important; width: 100% !important; margin-bottom: 15px !important; }
.rewrite a[href] { color: #007cff !important; }
.rewrite p { margin-bottom: 20px; text-indent: 1rem !important; }

/* 个人主页 */
.profile .banner { position: relative; padding-top: 35px; height: 300px; background: transparent url(../images/profile/bg.jpg) 0 0 no-repeat; background-size: cover; }
.profile .banner .figure { width: 145px; height: 145px; border: 8px solid rgba(255, 255, 255, 0.5); border-radius: 50%; overflow: hidden; }
.profile .banner .figure img { display: block; height: 100%; }
.profile .banner .nav { position: absolute; bottom: 0; width: 100%; height: 78px; padding: 22px 0; background-color: rgba(0, 0, 0, 0.3); color: #fff; text-align: center; }
.profile .banner .nav a { width: 50%; float: left; text-align: center; line-height: 34px; }
.profile .banner .nav a:first-child { border-right: 1px solid rgba(255, 255, 255, 0.5); }
.profile .banner .nav a .icon { margin-top: -8px; }
.profile .banner { margin-bottom: 40px; }
.profile .item { height: 130px; line-height: 130px; }
.profile .item .icon:first-child { margin-right: 30px; margin-top: -8px; }

/* 展厅 */
.showcase .box h3 { line-height: 80px; height: 80px; padding: 0 30px; }
.showcase .box .details { position: relative; background: #fff; height: 200px; overflow: hidden; padding-left: 260px; }
.showcase .box .details:not(:last-child) { margin-bottom: 20px; }
.showcase .box .figure { position: absolute; width: 260px; height: 200px; padding: 30px; overflow: hidden; left: 0; top: 0; }
.showcase .box .figure img { width: 100%; }
.showcase .box .comment { display: table; padding: 0 30px; margin-top: 30px; height: 140px; border-left: 1px solid #d9d9d9; }
.showcase .box .comment .panel { display: table-cell; vertical-align: middle; }
.showcase .box .comment p { line-height: 1rem; }
.showcase .box:last-child { margin-bottom: 30px; }

/* 积分换礼 */
.gifts .banner { height: 300px; overflow: hidden; }
.gifts .banner img { display: block; width: 100%; }
.gifts .panel { padding: 0 30px; }
.gifts .board .header { padding: 0 30px; height: 60px; line-height: 60px; overflow: hidden; }
.gifts .board .goods { float: left; width: 50%; margin-bottom: 30px; }
.gifts .board .goods:nth-child(odd) { padding-right: 15px; }
.gifts .board .goods:nth-child(even) { padding-left: 15px; }
.gifts .board .goods .wrap { border: 1px solid #dcdcdf; background-color: #fff; }
.gifts .board .goods .figure { display: block; width: 100%; height: 296px; padding: 2px; text-align: center; }
.gifts .board .goods .figure .cell { height: 100%; overflow: hidden; }
.gifts .board .goods .figure img { height: 100%; }
.gifts .board .goods .information { padding: 0 10px; line-height: 60px; }
.gifts .board .goods .information .icon-dollar { position: relative; top: -3px; }
.gifts .board .goods .information .exchange { height: 50px; line-height: 50px; font-size: 80%; border-radius: 0; }

/* 礼品详情 */
.gift .banner { height: 420px; overflow: hidden; }
.gift img { display: block; width: 100%; }
.gift h3 { line-height: 120px; border-bottom: 1px solid #ddd; padding: 0 30px; }
.gift h3 a { padding-top: 20px; line-height: normal; }
.gift h3 a span { display: block; }
.gift .details { background-color: #fff; }
.gift .details .desc { line-height: 1.4rem; padding: 30px; }
.gift .details .desc p { margin-bottom: 20px; text-indent: 1rem; }

/* 消息中心 */
.notices .item { height: 160px; padding-top: 25px; padding-bottom: 25px; }
.notices .item.item-thumbnail { padding-top: 0; padding-bottom: 0; }
.notices .item h3 { margin-bottom: 10px; }
.notices .item.item-thumbnail h3 { margin-top: 28px; }
.notices .item small { display: block; height: 60px; overflow: hidden; line-height: 1.2; }

/* 消息详情 */
.notice h4 { margin-top: 10px; }
.notice .banner { margin-top: 20px; }
.notice img { display: block; width: 100%; }
.notice .details { margin-top: 20px; }

/* 签到 */
.signin .summary { background: #fff; margin: 30px; text-align: center; height: 120px; border: 1px solid #ddd; }
.signin .summary em { display: block; margin-top: 10px; }
.signin .summary .col { height: 120px; border-right: 1px solid #ddd; padding: 30px 0; }
.signin .summary .col:last-child { border-right: none; line-height: 60px; }
.signin footer .button .icon { margin-top: -8px }
.signin .details { margin: 0 30px 30px; }
.signin .details .panel { background: #fff; color: #666; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
.signin .details .panel .box { height: 100px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; padding: 10px; position: relative; float: left; width: 14.2857%; }
.signin .details .panel .box em { position: absolute; right: 0; bottom: 6px; width: 60px; }
.signin .details table { width: 100%; background: #fff; color: #666; }
.signin .details table td { height: 100px; border: 1px solid #ddd; padding: 10px; position: relative; }
.signin .details table td em { position: absolute; right: 0; bottom: 6px; width: 60px; }

/* 车管家 */
.keeper .banner { height: 300px; overflow: hidden; }
.keeper .banner img { display: block; width: 100%; }
.keeper .blocks { margin: 30px 0; }

/* 专属顾问 */
.advisers .members { background: #fff; margin-top: 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.advisers .members > .adviser { display: block; width: 25%; height: 250px; float: left; padding-top: 30px; }
.advisers .members > .adviser .figure { width: 140px; height: 140px; overflow: hidden; border-radius: 50%; background-color: #fff; margin-bottom: 15px; border: 1px solid #eee; }
.advisers .members > .adviser .figure img { display: block; width: 100%; }

/* 我的顾问 */
.myadviser .adviser { margin-top: 30px; display: block; }
.myadviser .adviser .figure { width: 405px; height: 405px; overflow: hidden; border-radius: 50%; background-color: #fff; margin-bottom: 25px; border: 1px solid #eee; }
.myadviser .adviser .figure img { display: block; width: 100%; }
.myadviser .actions { margin-top: 50px; }
.myadviser .actions .button { margin-bottom: 20px; }

/* 道路救援 */
.help .tips { color: #666; line-height: 1.5rem; border-bottom: 1px solid #ddd; }

/* 现场情况 */
.situation .item.images { padding-left: 20px; padding-right: 20px; height: 170px; }
.situation .images a { float: left; width: 130px; height: 130px; overflow: hidden; margin: 20px 10px; background-color: #efeff4; }
.situation .images a img { display: block; width: 100%; }
.situation .images a.plus { text-align: center; padding-top: 42px; }
.situation .images a.plus .icon { opacity: 0.5; }
.situation .action { margin-top: 20px; margin-right: 30px; }

/* 成功提交 */
.rescue .adviser { margin-top: 30px; display: block; }
.rescue .adviser .figure { width: 405px; height: 405px; overflow: hidden; border-radius: 50%; background-color: #fff; margin-bottom: 25px; border: 1px solid #eee; }
.rescue .adviser .figure img { display: block; width: 100%; }
.rescue .paragraph { line-height: 1.4rem; padding: 50px 80px; color: #666; }

/* 车辆详情 */
.details .banner { height: 420px; overflow: hidden; position: relative; }
.details .banner img { width: 100%; display: block; }
.details .banner .tips { position: absolute; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); color: #fff; padding: 10px 20px; }
.details .name { border-bottom: 1px solid #ddd; padding: 50px 30px }
.details .name h1 { margin-bottom: 15px; }

/* 我的积分 */
.points .item { height: 140px; padding-top: 30px; padding-bottom: 30px; }
.points .status { margin-top: 20px; }
.points .item .name span:first-child { font-size: 0.9rem; }

/* 我的预约 */
.reserve .item { height: auto; font-size: 0.9rem; }
.reserve .item .summary { line-height: 100px; }
.reserve .name { display: inline-block; min-width: 280px; }
.reserve .item .details { display: none; border-top: 1px solid #ddd; padding-top: 20px; padding-bottom: 20px; line-height: 1.2rem; }
.reserve .item.active .details { display: block; }

/* 车型参数 */
.parameters .item.item-divider:not(.group) { background: #fff; text-align: center; }

/* 编辑资料 */
.settings .captcha { display: none; }

/* 我的资料 */
.information .setting-icon-left { margin-right: 25px; }
.information .item.figure { height: 128.90625px; line-height: 128.90625px; }
.information .item.figure .head { width: 93.75px; height: 93.75px; overflow: hidden; border-radius: 50%; margin-top: 17.578125px; }
.information .item.figure .head img { display: block; width: 93.75px; margin: 0 auto; }

/* 我的车辆 */
.mycards .item > span { display: inline-block; min-width: 165px; color: #333; text-align: right;}