@charset "UTF-8";
*, :after, :before { box-sizing: border-box; -webkit-font-smoothing: antialiased; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { height: 100%; font-size: 1rem; visibility: hidden; }
body { line-height: 1; margin: 0 auto; box-shadow: 0 -1px 0 1px #ddd; position: relative; min-height: 100%; font-size: 1rem; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333; -webkit-tap-highlight-color: transparent; }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6, b, strong { font-weight: normal; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; line-height: inherit; resize: none; }
input:focus, textarea:focus, button:focus, select:focus { outline: none !important; }
a { color: inherit; text-decoration: none; outline: 0; }
a:active, a:hover, a:visited { color: inherit; outline: 0; }
a:active { background-color: #f9f9f9; }
img { vertical-align: middle; }
select, input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
select { background-color: #fff; }
label.checkbox { line-height: 45px; }
input[type='checkbox'] { width: 45px; height: 45px; margin: 0; line-height: normal; vertical-align: middle; position: relative; top: -5px; border: none; -webkit-appearance: none; appearance: none; background: transparent; }
input[type='checkbox']:before { display: table; width: 100%; height: 100%; border: 1px solid #ff6f21; border-radius: 50%; background: #fff; content: ' '; transition: background-color 20ms ease-in-out; }
input[type='checkbox']:after { position: absolute; top: 35%; left: 25%; display: table; width: 24px; height: 12px; border: 3px solid #fff; border-top: 0; border-right: 0; content: ' '; opacity: 0; -webkit-transition: opacity 0.05s ease-in-out; -moz-transition: opacity 0.05s ease-in-out; transition: opacity 0.05s ease-in-out; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
input[type='checkbox']:checked:before { background-color: #ff6f21; }
input[type='checkbox']:checked:after { opacity: 1 }
input[type='radio'] { width: 30px; height: 30px; margin: 0; line-height: normal; vertical-align: middle; position: relative; top: -5px; border: none; -webkit-appearance: none; appearance: none; }
input[type='radio']:before { display: table; width: 100%; height: 100%; border: 2px solid #ff6f21; border-radius: 50%; background: #fff; content: ' '; }
input[type='radio']:after { display: block; width: 12px; height: 12px; position: absolute; top: 50%; left: 50%; margin-top: -6px; margin-left: -6px; background-color: #ff6f21; border-radius: 50%; background: #ff6f21; content: ' '; opacity: 0; }
input[type='radio']:checked:after { opacity: 1 }
input[type='checkbox'].small { -webkit-transform: scale(0.7); transform: scale(0.7); }
input[type='checkbox'].small:before { border-width: 3px; }
::-webkit-input-placeholder { color: #999; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px #fff; }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.3); border-radius: 3px; }
.action { cursor: pointer; }
.pull-right { float: right !important; }
.pull-left { float: left !important; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.through { text-decoration: line-through; }
.hide { display: none; }
.center-block { display: block !important; margin-left: auto; margin-right: auto; }
.text-muted, .text-gray { color: #999 !important; }
.text-grayer { color: #ddd !important; }
.text-strong { color: #292f3d !important; }
.text-stronger { color: 000 !important; }
.text-primary { color: #005aff !important; }
.text-warning { color: #ff6f21 !important; }
.text-danger { color: #f35050 !important; }
.text-success { color: #5cc18b !important; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.alert { padding: 30px; margin: 23.4375px 30px; border-radius: 9.375px; }
.alert-warning { border: 1px solid #ff6f21; color: #ff6f21; background: #fff; }
.padding { padding: 30px; }
.padding-horizontal { padding: 0 30px; }
.padding-vertical { padding: 30px 0; }
.margin { margin: 23.4375px; }
.margin-horizontal { margin: 0 23.4375px; }
.margin-vertical { margin: 23.4375px 0; }
.js-notice { position: fixed; bottom: 40px; text-align: center; font-size: 80%; width: 100%; max-width: 750px; }
.js-notice span { display: inline-block; padding: 10px 25px; border-radius: 8px; color: #fff; background-color: rgba(0, 0, 0, 0.7); }
.js-notice span.success { color: #fff; background-color: rgba(96, 195, 8, 0.8); }
.js-notice span.warning { color: #fff; background-color: rgba(250, 119, 54, 0.8); }
.js-notice span.failure { color: #fff; background-color: rgba(255, 0, 0, 0.7); }
.js-notice.overdue { opacity: 0; -webkit-animation-duration: 0.5s; -webkit-animation-name: fadeOut; display: none; }
@-webkit-keyframes fadeOut {
  0% { display: block; opacity: 1; }
  99% { display: block; opacity: 0; }
  100% { display: none; opacity: 0; }
}
.js-cover { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); }
.dropdown .menubar { display: none; }
.dropdown .menubar { position: absolute; background-color: rgba(255, 100, 0, 0.9); top: 102px; right: 20px; text-align: center; color: #fff; z-index: 100; }
.dropdown .menubar .menu { display: block; line-height: normal; padding: 16px 20px; }
.dropdown .menubar .menu:not(:last-child) { border-bottom: 1px solid #fff; }
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.icon { display: inline-block; vertical-align: middle; background-size: cover; }
.row, .flex { display: -webkit-box; display: -webkit-flex; display: flex; width: 100%; }
.row .col, .flex .col { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; margin: auto; display: block; width: 100%; }
.bar { height: 103.125px; text-align: center; line-height: 103.125px; background-color: #efeff4; }
.bar h1 { position: absolute; top: 0; left: 0; width: 100%; font-weight: normal; padding: 0 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.bar-warning { background-color: #ff6f21; color: #fff; }
.bar .left-icon, .bar .right-icon { position: absolute; top: 0; left: 0; padding: 11.71875px 23.4375px; height: 103.125px; z-index: 20; line-height: normal; }
.bar .left-icon .icon, .bar .right-icon .icon { margin-top: 16.40625px; }
.bar .right-icon { left: auto; right: 0; }
.bar .right-icon .icon-cart { margin: 9.375px 0 0 29.296875px; }
.bar .right-icon .icon-downmenu { margin-top: 21.09375px; }
.bar.bar-button { padding: 12.890625px 30px; height: 114.84375px; }
.bar.bar-buttons { padding: 12.890625px 8.203125px; height: 114.84375px; }
.bar.bar-buttons .col { padding: 0 8.203125px; }
.list { margin-bottom: 25px; }
.list.compact { margin-bottom: 0; }
.list.border { border-top: 1px solid #ddd; }
.item { display: block; background: #fff; height: 100px; padding: 0 30px; border-bottom: 1px solid #ddd; position: relative; overflow: hidden; }
.item.item-oneline { line-height: 100px; }
.list-padding .item { padding: 0 30px; border-bottom: none; }
.list-padding .item > span { display: block; border-bottom: 1px solid #ddd; }
.list-padding .item:last-child > span { border-bottom: none; }
.item-divider { display: block; background: #efeff4; height: 90px; line-height: 90px; padding: 0 30px; border-bottom: 1px solid #ddd; color: #666; }
.item-input { display: block; border-bottom: 1px solid #dadada; height: 100px; position: relative; background: #fff; padding: 0; overflow: hidden; }
.item-input > input, .item-input > select { width: 100%; height: 100%; border: none; padding: 0 30px; font-size: 1rem; }
.item-textarea { height: 200px; line-height: 1.2rem; padding: 0; }
.item-textarea > textarea { width: 100%; height: 100%; border: none; padding: 15px 30px; font-size: 1rem; }
.item-input.has-label .label { display: block; width: 210.9375px; position: absolute; left: 0; padding-left: 30px; font-size: 1rem; line-height: 101.953125px; }
.item-input.has-label > input, .item-input.has-label > select, .item-input.has-label > textarea, .item-input.has-label > .text { width: 539.0625px; margin-left: 210.9375px; }
.item.item-icon-left { padding-left: 95px; }
.item.item-icon-left > .icon:first-child { position: absolute; left: 30px; top: 50%; margin-top: -14px; }
.item.item-icon-left > .icon:first-child.icon-tel { margin-top: -18px; }
.item.item-icon-left > .icon:first-child.icon-car { margin-top: -18px; }
.item.item-icon-left > .icon:first-child.icon-location { margin-top: -21px; left: 35px; }
.item.item-icon-left > .icon:first-child.icon-clock { margin-top: -20px; left: 32px; }
.item.item-icon-left > .icon:first-child.icon-color { margin-top: -23px; }
.item.item-icon-left > .icon:first-child.icon-carnum { margin-top: -24px; left: 27px; }
.item.item-icon-right { padding-right: 75px; }
.item.item-icon-right > .icon:last-child { position: absolute; right: 30px; top: 50%; margin-top: -20px; }
.item.item-icon-right > .icon:last-child.icon-detail-down { right: 22.265625px; }
.item.item-checkbox { position: relative; padding-left: 117.1875px; }
.item.item-checkbox .checkbox { position: absolute; top: 0; bottom: 0; left: 0; width: 117.1875px; }
.item.item-checkbox .checkbox input[type="checkbox"] { display: block; position: absolute; left: 50%; top: 50%; margin: -22.265625px 0 0 -22.265625px; }
.item.item-thumbnail { padding-left: 230px; height: 140px; }
.item.item-thumbnail .thumbnail { position: absolute; top: 50%; left: 30px; width: 185px; height: 140px; margin-top: -70px; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: flex; }
.item.item-thumbnail .thumbnail img { width: 100%; display: block; margin: auto; }
.item.item-thumbnail .information h3 { margin-top: 35px; margin-bottom: 8px; }
.item.item-checkbox.item-thumbnail { padding-left: 328px; }
.item.item-checkbox.item-thumbnail .thumbnail { left: 117.1875px; }
.tag { color: #f35050; box-shadow: 0 0 0 1px #f35050; font-size: 28px; border-radius: 5.859375px; padding: 4.6875px 9.375px; margin-right: 11.71875px; line-height: normal; }
.button { display: inline-block; height: 90px; line-height: 90px; border: none; padding: 0 24px; margin: 0; border-radius: 10px; box-shadow: 0 0 1px #ddd; text-align: center; }
.button-block { display: block; width: 100%; }
.button-default { background-color: #fefefe; box-shadow: 0 0 1px 1px #ddd; }
.button-warning { color: #fff !important; background-color: #ff6f21; }
.button-warning:active { box-shadow: 0 0 3px #333; background-color: #f5702c; }
.button-outline { background-color: #fff; padding: 0 40; }
.button-warning.button-outline { color: #fe6f21 !important; border: 1px solid #fe6f21; background: #fff9f6; }
.button-primary { color: #fff !important; background-color: #017fff; }
.button-primary:active { box-shadow: 0 0 3px #333; background-color: #066cd4; }
.button .icon { float: left; margin-right: 11.71875px; }
.button .icon-edit { margin-top: 21.09375px; }
.button .icon-delete { margin-top: 21.09375px; }
.button-group .button { margin-right: 17.578125px; }
.button-group .button:last-child { margin-right: 0; }
.button[disabled] { -webkit-filter: grayscale(100%); filter: grayscale(100%); pointer-events: none; }
.blank { text-align: center; width: 100%; padding-top: 210.9375px; }
.blank h3 { margin: 23.4375px 0 46.875px; }
.blank .button { min-width: 421.875px; }
.counter { border: 1px solid #ddd; border-radius: 3.515625px; height: 52.734375px; width: 199.21875px; line-height: 50.390625px; margin-top: 17.578125px; }
.counter span { float: left; width: 56.25px; height: 50.390625px; position: relative; }
.counter span:first-child .icon { position: absolute; top: 22.265625px; left: 16.40625px; }
.counter span:last-child .icon { position: absolute; top: 15.234375px; left: 19.921875px; }
.counter span:not(.number):active { background-color: #eee; }
.counter .number { float: left; width: 84.375px; height: 50.390625px; border-width: 0 1px 0 1px; border-color: #ddd; border-style: solid; }
.track-options { position: absolute; top: 50%; right: 30px; height: 60px; margin-top: -30px; line-height: 60px; box-shadow: inset 0 0 0 1px #dadada; border-radius: 30px; }
.track-options > span { float: left; width: 130px; text-align: center; border-radius: 30px; cursor: default; }
.track-options > span.active { background-color: #ff6f21; color: #fff; }
.tiny { font-size: 0.7rem; }
.large { font-size: 1.15rem; }
body { -webkit-user-select: none; user-select: none; }
body.lightbg { background-color: #f5f5f5; }
body.http_error { background: -webkit-radial-gradient(#f7f7f7, #999999); background: radial-gradient(#f7f7f7, #999999); box-shadow: none; }
body.http_error h1 { font-size: 140.625px; text-align: center; font-weight: normal; font-family: fantasy; position: absolute; width: 100%; top: 50%; margin-top: -93.75px; }
body.http_error h1 i:nth-child(2) { position: relative; top: -23.4375px; }
body.http_error p { font-size: 1rem; }
small, .small { font-size: 0.8rem; }
body, header.bar, footer.bar { width: 100%; max-width: 750px; }
header.bar { border-bottom: 1px solid #dadada; }
header.fixed { /* position: fixed;  */ top: 0; z-index: 2; }
footer.fixed { position: fixed; bottom: 0; }
section { position: relative; overflow: auto; }

/* section.has-header { padding-top: 103.125px; }*/
section.has-footer { padding-bottom: 114.84375px; }
header .action { position: absolute; right: 0; line-height: 103.125px; padding: 0 23.4375px; }
header .icon-back { cursor: pointer; }
footer.bar { box-shadow: 0 0 0 1px #dadada; height: 114.84375px; line-height: normal; }
footer.bar.noborder { box-shadow: none; }
footer.bar nav a { float: left; width: 25%; text-align: center; font-size: 23.4375px; }
footer.bar nav a .icon { vertical-align: top; }
footer.bar nav span { display: block; text-align: center; margin-top: 5.859375px; color: #a3a3a3; font-size: 25.78125px; }
footer.bar nav a:active span, footer.bar nav a.active span { color: #ff6f21; }
.tabs-box { padding: 23.4375px 0; width: 100%; box-shadow: 0 0 0 1px #ddd; background-color: #fff; }
.tabs { display: -webkit-box; display: -webkit-flex; display: flex; width: 679.6875px; height: 70.3125px; line-height: 67.96875px; margin: 0 auto; border: 1px solid #fb720e; border-radius: 9.375px; overflow: hidden; text-align: center; }
.tabs .tab { cursor: pointer; width: 234.375px; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; display: block; color: #ff6f21; }
.tabs .tab.active { background-color: #fb720e; color: #fff; }
.divider { margin: 1rem 0; text-transform: uppercase; position: relative; height: auto; overflow: hidden; line-height: 1; text-align: center; }
.divider:after, .divider:before { position: absolute; content: ''; width: 50%; top: 50%; height: 0; border-top: 1px solid rgba(0, 0, 0, .1); border-bottom: 1px solid rgba(255, 255, 255, .2); }
.divider:after { margin-left: 1rem; }
.divider:before { margin-left: -webkit-calc(-50% - 1rem); margin-left: calc(-50% - 1rem); }

/* 弹窗 */
.masklayer { position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; max-width: 750px; margin: 0 auto; background-color: rgba(0, 0, 0, 0.5); z-index: 1000; }
.modal { background: #fff; border-radius: 15px; color: #000; width: auto !important; height: 238px; position: absolute; left: 100px; right: 100px; top: 50%; margin: -110px 0 0 0 !important; }

/* 支持弹性布局的手机正常处理 */
@supports (flex:1) or (-webkit-flex:1)or (-webkit-box-flex:1) {
  .modal { width: 100% !important; height: auto; position: static; margin: auto 100px !important; }
}
.modal .wrap { padding: 40px; }
.modal .title { margin-bottom: 20px; font-weight: normal; }
.modal .footer { height: 80px; line-height: 80px; border-top: 1px solid #ddd; }
.modal .footer .button { height: 78px; line-height: 78px; float: left; width: 50%; box-shadow: none; border-radius: 0; background: transparent; }
.modal .footer .button.confirm { border-left: 1px solid #ddd; font-weight: bold; }
.popup { background: #fff; height: 800px; max-height: 65%; position: fixed; bottom: 0; width: 100%; max-width: 750px; overflow: hidden; }
.popup > .title { line-height: 95px; height: 96px; width: 100%; max-width: 750px; background: #fff; border-bottom: 1px solid #ddd; z-index: 2000; }
.popup > .panel { position: absolute; top: 96px; left: 0; right: 0; bottom: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch; }