.icon-dollar { width: 30px; height: 30px; background-image: url(../images/icons/dollar.png);}
.icon-edit { width: 28px; height: 28px; background-image: url(../images/icons/edit.png);}
.icon-email { width: 38px; height: 26px; background-image: url(../images/icons/email.png);}
.icon-more { width: 21px; height: 41px; background-image: url(../images/icons/more.png);}
.icon-nav-car { width: 117px; height: 117px; background-image: url(../images/icons/nav-car.png);}
.icon-nav-gift { width: 117px; height: 117px; background-image: url(../images/icons/nav-gift.png);}
.icon-nav-msg { width: 117px; height: 117px; background-image: url(../images/icons/nav-msg.png);}
.icon-nav-news { width: 117px; height: 117px; background-image: url(../images/icons/nav-news.png);}
.icon-nav-share { width: 117px; height: 117px; background-image: url(../images/icons/nav-share.png);}
.icon-nav-sign { width: 117px; height: 117px; background-image: url(../images/icons/nav-sign.png);}
.icon-nav-user { width: 117px; height: 117px; background-image: url(../images/icons/nav-user.png);}
.icon-plus { width: 46px; height: 46px; background-image: url(../images/icons/plus.png);}
