.icon-checked { width: 38px; height: 38px; background-image: url(../images/icons/checked.png);}
.icon-dollar { width: 30px; height: 30px; background-image: url(../images/icons/dollar.png);}
.icon-edit { width: 28px; height: 28px; background-image: url(../images/icons/edit.png);}
.icon-email { width: 38px; height: 26px; background-image: url(../images/icons/email.png);}
.icon-exchange { width: 117px; height: 117px; background-image: url(../images/icons/exchange.png);}
.icon-more { width: 21px; height: 41px; background-image: url(../images/icons/more.png);}
.icon-nav-adviser { width: 117px; height: 117px; background-image: url(../images/icons/nav-adviser.png);}
.icon-nav-assess { width: 117px; height: 117px; background-image: url(../images/icons/nav-assess.png);}
.icon-nav-buy { width: 117px; height: 117px; background-image: url(../images/icons/nav-buy.png);}
.icon-nav-car { width: 117px; height: 117px; background-image: url(../images/icons/nav-car.png);}
.icon-nav-contrast { width: 117px; height: 117px; background-image: url(../images/icons/nav-contrast.png);}
.icon-nav-gift { width: 117px; height: 117px; background-image: url(../images/icons/nav-gift.png);}
.icon-nav-help { width: 117px; height: 117px; background-image: url(../images/icons/nav-help.png);}
.icon-nav-love { width: 117px; height: 117px; background-image: url(../images/icons/nav-love.png);}
.icon-nav-maintain { width: 117px; height: 117px; background-image: url(../images/icons/nav-maintain.png);}
.icon-nav-msg { width: 117px; height: 117px; background-image: url(../images/icons/nav-msg.png);}
.icon-nav-news { width: 117px; height: 117px; background-image: url(../images/icons/nav-news.png);}
.icon-nav-plus { width: 46px; height: 46px; background-image: url(../images/icons/nav-plus.png);}
.icon-nav-renew { width: 117px; height: 117px; background-image: url(../images/icons/nav-renew.png);}
.icon-nav-repair { width: 117px; height: 117px; background-image: url(../images/icons/nav-repair.png);}
.icon-nav-reserve { width: 118px; height: 118px; background-image: url(../images/icons/nav-reserve.png);}
.icon-nav-safety { width: 117px; height: 117px; background-image: url(../images/icons/nav-safety.png);}
.icon-nav-service { width: 117px; height: 117px; background-image: url(../images/icons/nav-service.png);}
.icon-nav-share { width: 117px; height: 117px; background-image: url(../images/icons/nav-share.png);}
.icon-nav-sign { width: 117px; height: 117px; background-image: url(../images/icons/nav-sign.png);}
.icon-nav-testdrive { width: 117px; height: 117px; background-image: url(../images/icons/nav-testdrive.png);}
.icon-nav-user { width: 117px; height: 117px; background-image: url(../images/icons/nav-user.png);}
.icon-score-gray { width: 50px; height: 50px; background-image: url(../images/icons/score-gray.png);}
.icon-score { width: 51px; height: 50px; background-image: url(../images/icons/score.png);}
.icon-signin { width: 29px; height: 29px; background-image: url(../images/icons/signin.png);}
.icon-upgrade { width: 210px; height: 356px; background-image: url(../images/icons/upgrade.png);}
.icon-user { width: 31px; height: 30px; background-image: url(../images/icons/user.png);}
