<div class="modal-header">
  <a class="close" ng-click="$dismiss()">&times;</a>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body modal-body-fixed-height">
  <form class="form-horizontal" name="form">
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>礼品名称：</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="请输入礼品名称" ng-model="entity.name" name="name" autofocus required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>推荐积分：</label>
      <div class="col-sm-7">
        <input type="number" class="form-control" placeholder="请输入推荐积分" ng-model="entity.point" name="point" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>供应商：</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="请输入供应商" ng-model="entity.prividerName" name="prividerName" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label text-normal text-nowrap col-sm-3"><i class="text-danger">*</i>产品描述：</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="请输入产品描述" ng-model="entity.content" name="content" required />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="confirm()" ng-disabled="form.$invalid || entity.processing">
  <span ng-if="!entity.processing">确定</span>
  <span ng-if="entity.processing">处理中...</span>
  </button>
  <button class="btn btn-default" ng-click="$dismiss()">取消</button>
</div>