<div class="page-header">
  <h1>兑换记录</h1>
</div>
<div class="filter clearfix">
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3 text-right">
      <a class="btn btn-success" ng-click="exchange()"><i class="fa fa-plus"></i> 为客户兑换</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>头像</th>
      <th>姓名</th>
      <th>手机号</th>
      <th>称呼</th>
      <th>是否车主</th>
      <th>兑换类型</th>
      <th>兑换货品</th>
      <th>扣除积分</th>
      <th class="text-right">兑换时间</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loading">
      <td class="loading-holder" colspan="40">
        <div class="text-center"><span class="loading"></span></div>
      </td>
    </tr>
    <tr ng-if="!loading &amp;&amp; totalCount === 0">
      <td colspan="40">
        <div class="text-center">抱歉，没有相关数据</div>
      </td>
    </tr>
    <tr ng-repeat="item in list">
      <td><img ng-src="{{ item.headimgurl }}" width="30" height="30" /></td>
      <td>{{ item.name }}</td>
      <td>{{ item.mobile }}</td>
      <td>{{ item.sex|gender }}</td>
      <td>{{ item.status|isCarOwner }}</td>
      <td>{{ item.action }}</td>
      <td>{{ item.actionContent }}</td>
      <td>{{ item.point }}</td>
      <td class="text-right">{{ item.createAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <ul class="pagination-sm" pagination ng-model="page" items-per-page="size" total-items="total" ng-change="query()"></ul>
</div>