<div class="page-header">
  <h1>礼品管理</h1>
</div>
<div class="filter clearfix">
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3 text-right">
      <a class="btn btn-success" ng-click="create()"><i class="fa fa-plus"></i> 新建礼品</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>名称</th>
      <th>供应商</th>
      <th>推荐积分</th>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>状态</th>
      <th class="text-right">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loading">
      <td class="loading-holder" colspan="40">
        <div class="text-center"><span class="loading"></span></div>
      </td>
    </tr>
    <tr ng-if="total === 0">
      <td colspan="40">
        <div class="text-center">抱歉，没有相关数据</div>
      </td>
    </tr>
    <tr ng-repeat="item in list">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.prividerName }}</td>
      <td>{{ item.point }}</td>
      <td>{{ item.createAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ item.updateAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td ng-class="{'text-danger': item.status}">{{ item.status|giftStatus }}</td>
      <td class="actions text-right">
        <a class="action" href="" ng-click="details(item)">预览</a>
        <a href="" class="text-danger" ng-if="item.status === 0" ng-click="toggle(item)">停用</a>
        <a href="" ng-if="item.status === 1" ng-click="toggle(item)">启用</a>
        <a class="action" href="" ng-click="update(item)">编辑</a>
        <a class="action" href="" ng-click="remove(item)">删除</a>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <ul class="pagination-sm" pagination ng-model="pageNo" items-per-page="pageSize" total-items="totalCount" ng-change="query()"></ul>
</div>