<div class="page-header">
  <h1>积分记录</h1>
</div>
<div class="filter clearfix">
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3 text-right">
      <a class="btn btn-success" ng-click="change()"><i class="fa fa-plus"></i> 为客户修改积分</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>头像</th>
      <th>姓名</th>
      <th>手机</th>
      <th>性别</th>
      <th>是否车主</th>
      <th>事件</th>
      <th>内容</th>
      <th>积分变化</th>
      <th>更新时间</th>
      <th class="text-right">备注</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loading">
      <td class="loading-holder" colspan="40">
        <div class="text-center"><span class="loading"></span></div>
      </td>
    </tr>
    <tr ng-if="!loading &amp;&amp; totalCount === 0">
      <td colspan="40">
        <div class="text-center">抱歉，没有相关数据</div>
      </td>
    </tr>
    <tr ng-repeat="item in list">
      <td><img ng-src="{{ item.headimgurl }}" width="30" height="30" /></td>
      <td>{{ item.name }}</td>
      <td>{{ item.mobile }}</td>
      <td>{{ item.sex|gender }}</td>
      <td>{{ item.status|isCarOwner }}</td>
      <td>{{ item.action }}</td>
      <td>{{ item.actionContent }}</td>
      <td>+{{ item.point }}</td>
      <td>{{ item.createAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td class="text-right">{{ item.remark }}</td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <ul class="pagination-sm" pagination ng-model="pageNo" items-per-page="pageSize" total-items="totalCount" ng-change="query()"></ul>
</div>