<div class="page-header">
  <h1>积分池</h1>
</div>
<div class="filter clearfix">
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3 text-right">
      <a class="btn btn-success" ng-click="create()"><i class="fa fa-plus"></i> 新建积分池</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>序号</th>
      <th>积分池名称</th>
      <th>生效时间</th>
      <th>失效时间</th>
      <th>积分初始值</th>
      <th class="text-right">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loading">
      <td class="loading-holder" colspan="40">
        <div class="text-center"><span class="loading"></span></div>
      </td>
    </tr>
    <tr ng-if="total === 0">
      <td colspan="40">
        <div class="text-center">抱歉，没有相关数据</div>
      </td>
    </tr>
    <tr ng-repeat="item in list">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.startAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ item.endAt|date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ item.totalPoint }}</td>
      <td class="actions text-right">
        <a class="action" href="" ng-click="update(item)">修改</a>
        <a class="action" href="" ng-click="">设置积分项</a>
        <a class="action" href="" ng-click="remove(item)">删除</a>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <ul class="pagination-sm" pagination ng-model="pageNo" items-per-page="pageSize" total-items="totalCount" ng-change="query()"></ul>
</div>