<div class="page-header">
  <h1>平台用户</h1>
</div>
<div class="filter clearfix">
  <div class="row">
    <div class="col-sm-9">
      <form class="form-inline" ng-submit="query()">
        <div class="form-group mb10 mr10">
          <label class="control-label text-normal text-nowrap">姓名：</label>
          <input type="text" class="form-control" placeholder="请输入姓名" ng-model="params.name" />
        </div>
        <div class="form-group mb10 mr10">
          <label class="control-label text-normal text-nowrap">手机号：</label>
          <input type="tel" class="form-control" placeholder="请输入手机" ng-model="params.mobile" />
        </div>
        <div class="mb10 mr10">
          <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid">
          <i class="fa fa-search"></i> 搜索
          </button>
        </div>
      </form>
    </div>
    <div class="col-sm-3 text-right">
      <a class="btn btn-success" ng-click="create()" ng-if="member.roleId === 1 || member.roleId === 2"><i class="fa fa-plus"></i> 添加</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>工号</th>
      <th>姓名</th>
      <th>手机号</th>
      <th>账号</th>
      <th>角色</th>
      <th>状态</th>
      <th class="text-right" ng-if="member.roleId === 1 || member.roleId === 2">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loading">
      <td class="loading-holder" colspan="40">
        <div class="text-center"><span class="loading"></span></div>
      </td>
    </tr>
    <tr ng-if="!loading &amp;&amp; totalCount === 0">
      <td colspan="40">
        <div class="text-center">抱歉，没有相关数据</div>
      </td>
    </tr>
    <tr ng-repeat="item in list">
      <td>{{ item.workNo }}</td>
      <td>{{ item.name }}</td>      
      <td>{{ item.mobile }}</td>
      <td>{{ item.account }}</td>
      <td>{{ item.roleId|memberRole }}</td>
      <td ng-class="{'text-danger': item.status}">{{ item.status|memberStatus }}</td>
      <td class="actions text-right" ng-if="member.roleId === 1 ||  member.roleId === 2">
        <a href="" class="text-danger" ng-if="item.status === 0" ng-click="toggle(item)">停用</a>
        <a href="" ng-if="item.status === 1" ng-click="toggle(item)">启用</a>
        <a href="" ng-click="resetPwd(item)">重置密码</a>
        <a href="" ng-click="update(item)">编辑</a>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <ul class="pagination-sm" pagination ng-model="pageNo" items-per-page="pageSize" total-items="totalCount" ng-change="query()"></ul>
</div>