<div class="page-header">
  <h1>微信用户</h1>
</div>
<div class="filter clearfix">
  <div class="row">
    <div class="col-sm-9">
      <form class="form-inline" ng-submit="query()">
        <div class="form-group mb10 mr10">
          <label class="control-label text-normal text-nowrap">姓名：</label>
          <input type="text" class="form-control" placeholder="请输入姓名" ng-model="params.name" />
        </div>
        <div class="form-group mb10 mr10">
          <label class="control-label text-normal text-nowrap">手机号：</label>
          <input type="tel" class="form-control" placeholder="请输入手机" ng-model="params.mobile" />
        </div>
        <div class="mb10 mr10">
          <button type="submit" class="btn btn-primary ml10" ng-disabled="form.$invalid">
          <i class="fa fa-search"></i> 搜索
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>头像</th>
      <th>微信昵称</th>
      <!-- <th>openId</th> -->
      <th>姓名</th>
      <th>手机号</th>
      <th>称呼</th>
      <th>车型</th>
      <th>关注状态</th>
      <th>绑定状态</th>
      <th>当前积分</th>
      <th class="text-right">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loading">
      <td class="loading-holder" colspan="40">
        <div class="text-center"><span class="loading"></span></div>
      </td>
    </tr>
    <tr ng-if="!loading &amp;&amp; totalCount === 0">
      <td colspan="40">
        <div class="text-center">抱歉，没有相关数据</div>
      </td>
    </tr>
    <tr ng-repeat="item in list">
      <td><img ng-src="{{ item.headimgurl }}" width="30" height="30" /></td>
      <td>{{ item.nickname }}</td>
      <!-- <td>{{ item.openid }}</td> -->
      <td>{{ item.name }}</td>      
      <td>{{ item.mobile }}</td>
      <td>{{ item.sex|gender }}</td>
      <td ng-if="!item.id || item.status != 2"><a class="text-muted">查看</a></td>      
      <td ng-if="item.id &amp;&amp; item.status == 2"><a href="" ng-click="getMemberCar(item)">查看</a></td>      
      <td>{{ item.subscribe|memberFollow }}</td>
      <td>{{ item.id|memberBind:item.status }}</td>
      <td>{{ item.point || 0 }}</td>
      <td class="text-right" ng-if="item.valiFlag != 1"><a class="text-muted">验证</a></td>
      <td class="text-right" ng-if="item.valiFlag == 1"><a href="" ng-click="checkMemberCar(item)">验证</a></td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <ul class="pagination-sm" pagination ng-model="pageNo" items-per-page="pageSize" total-items="totalCount" ng-change="query()"></ul>
</div>